﻿@model List<ShoeShopOnline.WebApp.Models.CartItem>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/trang-chu">Trang chủ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<div class="table-responsive container">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <td>Mã sản phẩm</td>
                <td>Tên sản phẩm</td>
                <td>Ảnh sản phẩm</td>
                <td>Kích cỡ</td>
                <td>Số lượng</td>
                <td>Đơn giá</td>
                <td>Thành tiền</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.Id</td>
                    <td>@item.Product.Name</td>
                    <td><img src="@item.Product.UrlImage" alt="Alternate Text" width="100" height="70" /></td>
                    <td>@item.Product.Size</td>
                    <td><input type="text" class="txtQuantity" readonly data-id="@item.Product.Id" name="name" value="@item.Quantity" /></td>
                    <td>
                        @if (item.Product.PromotionPrice != null)
                        {
                            @item.Product.PromotionPrice.GetValueOrDefault(0).ToString("N0")
                        }
                        else
                        {
                            @item.Product.Price.GetValueOrDefault(0).ToString("N0")
                        }
                    </td>
                    <td>
                        @if (item.Product.PromotionPrice != null)
                        {
                            @((item.Product.PromotionPrice.GetValueOrDefault(0) * item.Quantity).ToString("N0"))
                        }
                        else
                        {
                            @((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0"))
                        }
                    </td>
                    <td><a href="#" data-id="@item.Product.Id" class="btn-delete">Xoá</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="section group container">
    <div class="col-md-6">
        @using (Html.BeginForm("Payment", "Cart", FormMethod.Post))
        {
            <div class="form-group">
                <label>Điện thoại</label>
                <input name="mobile" required oninvalid="this.setCustomValidity('Vui lòng nhập số điện thoại')" oninput="setCustomValidity('')" class="form-control" />
            </div>
            <button type="submit" class="btn">Gửi đơn hàng</button>
        }
    </div>
</div>

