﻿@model ShoeShopOnline.Model.DAL.Product
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .imageDetail{
        transition: all .4s ease-in-out;
    }
    .imageDetail:hover{
        transform: scale(1.4);
    }
</style>
<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/trang-chu">Trang chủ</a></li>
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--start-single-->
<div class="single contact">
    <div class="container">
        <div class="single-main">
            <div class="col-md-9 single-main-left">
                <div class="sngl-top">
                    <div class="col-md-5 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="images/s1.jpg">
                                    <img src="@Model.UrlImage" class="imageDetail" />
                                </li>
                            </ul>
                        </div>
                        <!-- FlexSlider -->
                        <script defer src="~/Content/Client/js/jquery.flexslider.js"></script>
                        <link rel="stylesheet" href="~/Content/Client/css/flexslider.css" type="text/css" media="screen" />

                        <script>
                            // Can also be used with $(document).ready()
                            $(window).load(function () {
                                $('.flexslider').flexslider({
                                    animation: "slide",
                                    controlNav: "thumbnails"
                                });
                            });
                        </script>
                    </div>
                    <div class="col-md-7 single-top-right">
                        <div class="details-left-info simpleCart_shelfItem">
                            <h3>@Model.Name</h3>
                            <p class="availability">
                                Tình trạng:
                                @if (Model.Quantity > 0)
                                {
                                    <span class="text-primary">Còn @Model.Quantity sản phẩm</span>
                                }
                                else
                                {
                                    <span class="text-danger">Tạm hết hàng</span>
                                }
                            </p>
                            <div class="price_single">
                                @if (Model.PromotionPrice > 0)
                                {
                                    <span class="reducedfrom text-danger"><span>Giá gốc: </span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ")đ</span>
                                    <br />
                                    <span class="actual item_price"><span>Giá khuyến mãi: </span>@(Model.PromotionPrice.Value.ToString("N0"))đ</span>


                                }
                                else
                                {
                                    <span class="actual item_price"><span>Giá: </span>@(Model.Price.HasValue ? Model.Price.Value.ToString("N0") : "Liên hệ")đ</span>
                                }
                                <br />
                                <span class="quick"><span>Kích cỡ: </span>@(Model.Size.ToString())</span>
                            </div>
                            <h2 class="quick">Mô tả:</h2>
                            <p class="quick_desc">@Html.Raw(Model.Description)</p>
                            <div class="clearfix"> </div>
                            <div class="single-but item_add">
                                <a href="/them-gio-hang?productId=@Model.Id&quantity=1">
                                    @if (Model.Quantity > 0)
                                    {
                                        <input type="submit" value="Thêm vào giỏ" />
                                    }
                                    else
                                    {
                                        <input type="submit" disabled value="Thêm vào giỏ" />
                                    }
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="latest products">
                    <div class="product-one">
                        @{ Html.RenderAction("LoadLastedProduct", "Product");}
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 single-right">
                <h3>Thương hiệu</h3>
                <ul class="product-categories">
                    @{ Html.RenderAction("LoadCategory", "Product");}
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--end-single-->